doctype 
html 
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        include ./head.pug
        title PROJECT2
    body 
        div(class='text-primary') this is my div
        include ./script.pug